<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Computed_properties</title>
</head>
<body>
	<div id="app">
		
		<h1>First Example</h1>
		<h2>Skill: {{skill}}</h2>
		<input type="text" v-model="points">
		
		<h1>Second Example</h1>
		<h2>{{fullname}}</h2>
		<input type="text" v-model="firstname" placeholder="First Name">
		<input type="text" v-model="lastname" placeholder="Last Name">
	</div>
	
	<script src="/node_modules/vue/dist/vue.js"></script>
	<script src="/assets/js/app_computed_properties.js"></script>
</body>
</html>