.error{
	display: block;
	margin: 10px;
	
	font-style: italic;
	color: red;
}
button{
	display: block;
}

.plan{
 margin: 0.5em 0;	
}

.plan__name, .plan__price{
	display: inline-block;
	width: 6em;
}
.plan__button{
	display: inline-block;
}